<h2 class="first-header colored-title">Reflections</h2>

<p>
Building this website took longer than I thought. Web development is a very big world with lots of different tools and resources, each with their own nuances. I wanted to learn how to use the D3.js library but it was too complicated. It's a very powerful library developed by professionals that will take weeks to learn. I ended up having to use somebody else's wrapper, which simplified somebody else's code to build a word cloud using D3.
</p>

<p>
I also struggled a bit interacting with Reddit's API. I couldn't really make straight up requests using the request library for authentication or requests. I ended up using snoowrap which took care of all those things for me. The Reddit API also has a rate limit of one request every two seconds which must be followed. The response that the server returned was also hard to decipher. I tried to console.log the response but it was hundreds of lines long and hard to read.
</p>

<p>
Overall I have a new-found appreciation of web development work. There must be build tools or something to help with development as just using a text editor makes things too time consuming to figure out and debug. Every aspect of web dev from server-side development, front-end frameworks, visualizations, authentication, etc are major topics that will take weeks to explore and a long time to master.
</p>