<h2 class="first-header colored-title">Resources</h2>

<h3>Snoowrap - Node Reddit API library</h3>
<ul>
   <li><a href="https://github.com/not-an-aardvark/snoowrap">https://github.com/not-an-aardvark/snoowrap</a>
   <li>Handles authentication and queries to Reddit's API.</li>
   <li>Utility functions and follow API rate-limit.</li>
</ul>

<h3>Easy Word Cloud Using D3.js</h3>
<ul>
   <li><a href="https://github.com/wvengen/d3-wordcloud">https://github.com/wvengen/d3-wordcloud</a>
   </li>
   <li>Wrapper to simplify word cloud creating using D3.js</li>
   <li>Create word cloud with default or optional arguments</li>
</ul>

<h3>Bootstrap 3</h3>
<ul>
   <li><a href="http://getbootstrap.com/docs/3.3/">http://getbootstrap.com/docs/3.3/</a></li>
   <li>Provides general styling for HTML elements.</li>
</ul>